/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  .menuFont{
    font-size: 7vw;
  }
  #homeSection h1{
    font-size: 8vh;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .menuFont{
    font-size: 7vw;
  }
  #homeSection h1{
    font-size: 5vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .menuFont{
    font-size: 7vw;
  }
  #homeSection h1{
    font-size: 5vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .menuFont{
    font-size: 1.42vw;
  }
  #homeSection h1{
    font-size: 4vh;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .menuFont{
    font-size: 1vw;
  }
  #homeSection h1{
    font-size: 3vh;
  }
}

.mainNavigation{
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.menuFont{
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  /* font-size: 1.8em; */
}

.menuToggler{
  color: #fff;
  font-size: 1.4vh;
}

/* General */

/* Home */
#homeSection h1{
  font-family: 'Fugaz One', cursive;
  color: #fff;
  text-align: right;
  /* height: 100vh; */
}

#homeSlide1{

}

#homeSlide2{
  background-color: #FF57BD;
}

#homeSlide3{
  background-color: #BDDE00;
}

/* About */
#aboutSection h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 6vh;
  color: #FF6F00;
  padding: 1vh 0;
  margin-bottom: 6vh;
  background-color: #fff;
  border-radius: 10px;
}

/* About Card */
.aboutCard{
  padding:0 40px;
}

.aboutCard h2{
  text-align: left;
  font-family: 'Fugaz One', cursive;
  font-size: 3vh;
  color: #fff;
  padding-bottom: 0;
}

.aboutCard p{
  text-align: left;
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  font-size: 2vh;
  color: #fff;
}
